extends layout

block content
  h1 Cayeux-sur-mer
  nav
    ul.breadcrumb
      li
        a(href="/")
          i.glyphicon.glyphicon-home &nbsp;
          | Accueil
  p Voici les prévisions pour les 4 prochains jours à Cayeux-sur-mer

  include ./prevs.jade
  include ./marees.jade

  script(type='text/javascript').
    api_url = 'https://api.import.io/store/connector/b64690c3-60c9-4e1b-84f7-6203e157ef74/_query?input=webpage/url:http%3A%2F%2Fwww.meteociel.fr%2Fprevisions-wrf-1h%2F29766%2Fcayeux_sur_mer.htm&&_apikey=03f366f40edd4f2b8fe9ba8dab29c1153466c48ec9ad6372ac86a2583e82a9fbc0e293cd19896c165df279f29596caa96ac73a633523e4d82982a07d3962e7ad794a3b616bcdbd515c2138a42652aaaa';

  script(type='text/javascript', src='/javascripts/prevs.js')
