extends layout

block content
  h1 Windalert
  p.lead Prévisions pour les spots parisiens avec les données du site Météociel
  nav
    ul.nav.nav-pills.nav-stacked
      li
        a(href="/le-touquet")
          i.glyphicon.glyphicon-map-marker &nbsp;
          | Le touquet
      li
        a(href="/le-crotoy")
          i.glyphicon.glyphicon-map-marker &nbsp;
          | Le crotoy
      li
        a(href="/cayeux-sur-mer")
          i.glyphicon.glyphicon-map-marker &nbsp;
          | Cayeux-sur-mer
      li
        a(href="/franceville")
          i.glyphicon.glyphicon-map-marker &nbsp;
          | Franceville
