extends layout

block content
  h1 Windalert
  p.lead Prévisions pour les spots parisiens avec les données du site Météociel
  nav
    ul.nav.nav-pills.nav-stacked
      li
        a(href="/le-touquet") Le touquet
      li
        a(href="/le-crotoy") Le crotoy
      li
        a(href="/cayeux-sur-mer") Cayeux-sur-mer
      li
        a(href="/franceville") Franceville
