extends layout

block content
  h1 Windalert
  nav
    ul
      li
        a(href="/le-touquet") Le touquet
      li
        a(href="/le-crotoy") Le crotoy
      li
        a(href="/cayeux-sur-mer") Cayeux-sur-mer
      li
        a(href="/franceville") Franceville
