doctype html
html
  head
    title Windalert
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script(type="text/javascript" src="/javascripts/jquery.min.js")
    script(type="text/javascript" src="/javascripts/vue.min.js")
    script(type="text/javascript" src="/javascripts/vue-resource.min.js")
  body.container
    block content
