.spinner
  .rect2
  .rect3
  .rect4
  .rect5
.col-md-6
  h2 Marées
  table.table.table-striped.prevs
    thead
      tr
        th Heure
        th Hauteur
    tbody#marees
      tr(v-for="maree in marees")
        td test
